## Core latex/pdflatex auxiliary files:
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz

# Bibliogrpahy artifacts

*.bbl
*.bcf
*.blg
*.run.xml

# Ignore large source PDF materials for literature review
goose_literature_review/sources/
